@model OnlineHelpDesk.Models.Request
@{
    ViewData["Title"] = "Create Report";
}

<script src="https://cdn01.jotfor.ms/static/prototype.forms.js" type="text/javascript"></script>
<script src="https://cdn02.jotfor.ms/static/jotform.forms.js?3.3.30907" type="text/javascript"></script>
<script type="text/javascript">
    JotForm.newDefaultTheme = true;
    JotForm.extendsNewTheme = false;
    JotForm.newPaymentUIForNewCreatedForms = false;
    JotForm.newPaymentUI = true;

    JotForm.init(function () {
        /*INIT-START*/
        if (window.JotForm && JotForm.accessible) $('input_21').setAttribute('tabindex', 0);
        if (window.JotForm && JotForm.accessible) $('input_22').setAttribute('tabindex', 0);
        if (window.JotForm && JotForm.accessible) $('input_20').setAttribute('tabindex', 0);
        JotForm.setCustomHint('input_20', 'Type here...');
        /*INIT-END*/
    });

</script>
@*<style type="text/css">@media print{.form-section{display:inline!important}.form-pagebreak{display:none!important}.form-section-closed{height:auto!important}.page-section{position:initial!important}}</style>*@
<link type="text/css" rel="stylesheet" href="https://cdn01.jotfor.ms/themes/CSS/5e6b428acc8c4e222d1beb91.css?themeRevisionID=5eb3b4ae85bd2e1e2966db96" />
<link type="text/css" rel="stylesheet" href="https://cdn02.jotfor.ms/css/styles/payment/payment_styles.css?3.3.30907" />
<link type="text/css" rel="stylesheet" href="https://cdn03.jotfor.ms/css/styles/payment/payment_feature.css?3.3.30907" />
<style type="text/css" id="form-designer-style">
    /* Injected CSS Code */
    .form-label.form-label-auto {
        display: block;
        float: none;
        text-align: left;
        width: 100%;
    }
    /* Injected CSS Code */
</style>

<form class="jotform-form" asp-action="Create" method="post" enctype="multipart/form-data">

    <div role="main" class="form-all">
        <style>
            .form-all:before {
                background: none;
            }
        </style>
        <ul class="form-section page-section">
            <li id="cid_1" class="form-input-wide" data-type="control_head">
                <div class="form-header-group  header-large">
                    <div class="header-text httal htvam">
                        <h1 id="header_1" class="form-header" data-component="header">
                            Report Form
                        </h1>
                    </div>
                </div>
            </li>

            <li class="form-line" data-type="control_textbox" id="id_21">
                <label class="form-label form-label-top form-label-auto" id="label_22" for="input_22"> Facility </label>
                <div id="cid_21" class="form-input-wide" data-layout="half">
                    @foreach (var item in ViewBag.facility)
                    {
                        if (item.FacilityId == ViewBag.facilityId)
                        {
                            <input type="text" id="" name="" disabled="disabled" data-type="input-textbox" class="form-textbox" data-defaultvalue="" style="width:310px" size="310" value="@item.FacilityName" data-component="textbox" aria-labelledby="label_21" />
                        }
                    }
                </div>
            </li>

            <li class="form-line form-line-column form-col-1" data-type="control_dropdown" id="id_16">
                <label class="form-label form-label-top" id="label_16" for="input_16"> Request Sample </label>
                <div id="cid_16" class="form-input-wide" data-layout="half">
                    <select class="form-dropdown" id="" asp-for="RequestSampleId" style="width:150px" data-component="dropdown" asp-items="ViewBag.requestSample">
                        <option>--Selected--</option>
                    </select>
                </div>
            </li>

            <li class="form-line" data-type="control_textbox" id="id_21">
                <div id="cid_21" class="form-input-wide" data-layout="half">
                    <input type="datetime-local" hidden="hidden" id="startDate" asp-for="StartDate" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" data-type="input-textbox" class="form-textbox" data-defaultvalue="" style="width:310px" size="310" data-component="textbox" aria-labelledby="label_21" />
                </div>
            </li>
            <li class="form-line" data-type="control_textbox" id="id_22">

                <div id="cid_22" class="form-input-wide" data-layout="half">
                    <input type="datetime-local" hidden="hidden" id="endDate" asp-for="EndDate" value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" data-type="input-textbox" class="form-textbox" data-defaultvalue="" style="width:310px" size="310" data-component="textbox" aria-labelledby="label_22" />
                </div>

            </li>
            <li class="form-line" data-type="control_textarea" id="id_20">
                <label class="form-label form-label-top form-label-auto" id="label_20" for="input_20"> Remark </label>
                <div id="cid_20" class="form-input-wide" data-layout="full">
                    <textarea id="input_20" class="form-textarea ckeditor" asp-for="Remark" style="width:648px;height:163px" data-component="textarea" aria-labelledby="label_20"></textarea>
                </div>
            </li>
            <li class="form-line" data-type="control_button" id="id_2">
                <div id="cid_2" class="form-input-wide" data-layout="full">
                    <div data-align="auto" class="form-buttons-wrapper form-buttons-auto   jsTest-button-wrapperField">
                        <button id="btnSubmit" type="submit" class="form-submit-button submit-button jf-form-buttons jsTest-submitField" data-component="button" data-content="">
                            Submit
                        </button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <script src="~/ckeditor/ckeditor.js"></script>
</form>