@model IEnumerable<OnlineHelpDesk.Areas.Admin.Models.RegisterUserModel>

@using Microsoft.AspNetCore.Identity
@using OnlineHelpDesk.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Acount List";
    var ds = ViewBag.data;

}
@using Newtonsoft.Json;
@using System.Net.Http;
@using System.Net.Http.Json;

<!--CND VueJs-->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>
<h1 style="text-align:center">Account list</h1>

<p>
    <a asp-action="CreateAccount">Create New</a>
</p>
<div id="myApp">



    <table class="table">
        <thead>
            <tr>
                <th>
                    <label>Email</label>
                </th>
                <th>
                    <label>FullName</label>
                </th>
                <th>
                    <label>PhoneNumber</label>
                </th>

                <th>
                    <label>Gender</label>
                </th>

                <th>
                    <label>Role</label>
                </th>

                <th>
                    <label>Action</label>
                </th>
            </tr>
        </thead>
        <tbody>

            <tr v-for="(inf,index) in ds" :key="index">
                <td>
                    {{inf.Email}}
                </td>
                <td>
                    {{inf.FullName}}
                </td>
                <td>
                    {{inf.PhoneNumber}}

                </td>
                <td>
                    <span v-if="inf.Gender">Male</span>
                    <span v-else>Fmale</span>

                </td>

                <td>


                    {{inf.Name}}

                </td>

                <td>

                    <div class="dropdown">
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown button
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                            <a href="#" class="dropdown-item" v-on:click="resetpass(inf.Id)">Reset Password</a>

                            <div  v-if="inf.Id != userid" >
                                <a href="#" v-on:click="deleteuser(inf.Id)" class="dropdown-item">Delete Account</a>

                            </div>

                            <a class="dropdown-item" v-on:click="editrole(inf.Id)" href="#">Edit Role</a>


                        </div>
                    </div>






                </td>

            </tr>

        </tbody>
    </table>



    <pre id="ds">@JsonConvert.SerializeObject(ds)</pre>
    <pre id="id">@UserManager.GetUserAsync(User).Result?.Id</pre>



    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" hidden data-target="#exampleModal" id="click"></button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Changed password successfully</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="color:green; text-align:center">Your password is: 123456789aA &commat; </div>
                </div>
            </div>
        </div>
    </div>




</div>




<script>



    var App = new Vue({
        el: "#myApp",
        created() {
            this.load();
        },

        data() {
            return {
                ds: [],
                userid:"0"
            }

        },
        methods: {

            load: function () {
                var ds1 = JSON.parse(document.getElementById("ds").innerText);

                var timeconvert = document.getElementById("ds");
                timeconvert.parentNode.removeChild(timeconvert);

                this.userid = document.getElementById("id").innerText;

              var  timeconvert1 = document.getElementById("id");
                timeconvert1.parentNode.removeChild(timeconvert1);

                

                console.log(ds1);

                this.ds = ds1;
            },


            resetpass: function (id) {
                let url = "/admin/Account/ResetPassword?id=" + id;


                var request = new XMLHttpRequest();
                request.open('POST', url, false);  // `false` makes the request synchronous
                request.send(null);

                if (request.status === 200) {// That's HTTP for 'ok'
                    console.log(request.responseText);

                    document.getElementById("click").click();

                }



            },

            deleteuser: function (id) {

                if (confirm("Do you want to delete user ?")) {
                    location.href = "/admin/account/delete?id=" + id;

                }

            },

            editrole: function (id) {
                location.href = "/admin/account/editrole?id=" + id;
            }

        }

    })


</script>