
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Login";
}




@*<link rel="stylesheet" type="text/css" href="~/login/css/util.css">*@
<link rel="stylesheet" type="text/css" href="~/login/css/main.css">




<script src="~/js/Validate.js"></script>
<!--CND VueJs-->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<div id="myApp"  >



        <div class="container-login100" >
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/login/images/img-01.png" alt="IMG">
                </div>

                <form class="login100-form validate-form">
                    <span class="login100-form-title">
                        Member Login
                    </span>

                    <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                        <input class="input100" type="text" v-model="Mail" name="email" placeholder="Email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <input class="input100" type="password" v-model="Password" name="pass" placeholder="Password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" v-on:click.prevent="Login()">
                            Login
                        </button>
                    </div>


                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <label class="text-danger" ref="error"></label>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                        <label>If you don't have an account <a href="/home/register">Create an account</a> </label>
                    </div>

                </form>
            </div>
        </div>


</div>




<script>
    var App = new Vue({
        el: "#myApp",
        data() {
            return {
                Mail: '',
                Password: ''
            }

        },
        methods: {
            Login: function () {

                if ((this.Mail == "") && (this.Password == "")) {
                    this.$refs.error.innerText = "Email and Password cannot be left blank"

                    return false;
                }

                if (this.Mail == "") {
                    this.$refs.error.innerText = "Email cannot be left blank"

                    return false;
                }

                if (this.Password == "") {
                    this.$refs.error.innerText = "Password cannot be left blank"

                    return false;


                }



                if (check.test(this.Mail) == false) {
                    this.$refs.error.innerText = "Email is not in the correct format"
                } else {

                    let result = false;

                    let url = "/Home/Login?mail=" + this.Mail + "&password=" + this.Password;
                    var request = new XMLHttpRequest();
                    request.open('POST', url, false);  // `false` makes the request synchronous
                    request.send(null);

                    if (request.status === 200) {// That's HTTP for 'ok'
                        console.log(request.responseText);
                        if (request.responseText == "admin") {
                            location.href = "/admin/admin"
                        }
                        else
                            if (request.responseText == "true") {



                                location.href = "/home/Roomlist"
                            } else {
                                this.$refs.error.innerText = request.responseText

                            }


                    }


                }



            }

        }
    })

</script>