@model OnlineHelpDesk.Areas.Admin.Models.RegisterUserModel;
    <script src="~/js/Validate.js"></script>

@{
    ViewData["Title"] = "Create Account";
}
<!--CND VueJs-->
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.25.0/axios.min.js"></script>



<h3 style="text-align:center; margin-bottom:2%">Create New Account</h3>

<div class="row" id="myApp">
    <div class="col-sm-3"></div>



    <div class="col-sm-6">
        <form asp-action="CreateAccount" onsubmit="return checknull()" asp-controller="Account" method="post">

            <div class="row" style="margin-bottom:5%">
                <div class="col-sm-5">
                    <label style="text-align:left" class="control-label">Email:</label>
                </div>
                <div class="col-sm-7">
                    <input asp-for="Email" id="Email" v-on:keyup="checkvalidate()" class="form-control" placeholder="Enter Email" v-model.trim="Email" />
                    <span style="text-align: left; color: red; font-style: italic" ref="mail" id="mail"></span>
                </div>
            </div>


            <div class="row" style="margin-bottom:5%">
                <div class="col-sm-5">
                    <label asp-for="Password" style="text-align:left">Password:</label>
                </div>
                <div class="col-sm-7">
                    <input asp-for="Password" id="Password" class="form-control" v-on:keyup="checkvalidate()" placeholder="Enter Password" v-model.trim="Password" />
                    <span style="text-align: left; color: red; font-style: italic" ref="pass" id="pass"></span>
                </div>
            </div>

            <div class="row" style="margin-bottom:5%">
                <div class="col-sm-5">
                    <label class="control-label" style="text-align:left">Confirm Password:</label>
                </div>
                <div class="col-sm-7">
                    <input asp-for="ConfirmPassword" id="ConfirmPassword" v-on:keyup="checkvalidate()" class="form-control" placeholder="Enter Confirm Password" v-model.trim="ConfirmPassword" />
                    <span style="text-align: left; color: red; font-style: italic" ref="confirmpass"id="confirmpass"></span>
                </div>
            </div>


            <div class="row" style="margin-bottom:5%">
                <div class="col-sm-5">
                    <label class="control-label"  style="text-align:left">Phone Number:</label>
                </div>
                <div class="col-sm-7">
                    <input asp-for="PhoneNumber"id="PhoneNumber" class="form-control" v-on:keyup="checkvalidate()" placeholder="Enter Phone Number" v-model.trim="PhoneNumber" />
                    <span style="text-align: left; color: red; font-style: italic" ref="phone" id="phone"></span>
                </div>
            </div>

            <div class="row" style="margin-bottom:5%">
                <div class="col-sm-5">
                    <label class="control-label" style="text-align:left">Full Name:</label>
                </div>
                <div class="col-sm-7">
                    <input asp-for="FullName" id="FullName" class="form-control" v-on:keyup="checkvalidate()" placeholder="Enter Full Name" v-model.trim="FullName" />
                    <span style="text-align: left; color: red; font-style: italic" ref="fname" id="fname"></span>
                </div>
            </div>


            <div class="row" style="margin-bottom:5%">
                <div class="col-sm-5">
                    <label class="control-label" style="text-align:left">Gender:</label>
                </div>
                <div class="col-sm-7">
                    <select class="form-control" name="Gender" asp-for="Gender">
                        <option value="True">Male</option>
                        <option value="False">Fmale</option>

                    </select>
                </div>
            </div>





            <div class="row" style="margin-bottom:5%">

                <div class="col" style="text-align:center">


                    <input type="submit" class="btn btn-outline-success" ref="submit" :disabled="Disable" value="Next" />
                </div>
            </div>

        </form>
    </div>


    <div class="col-sm-3"></div>

</div>


<script>
   
    var App = new Vue({
        el: "#myApp",
        data() {
            return {
                Email: "",
                Password: "",
                ConfirmPassword: "",
                PhoneNumber: "",
                FullName: "",
                Disable: false

            }

        },
        methods: {

        

            checkvalidate: function () {


                if (this.Email != "") {
                    let mail = this.Email;

                    if (check.test(mail) == false) {
                        this.$refs.mail.innerText = "Email is not in the correct format"
                        this.Disable = true;
                        
                        
                    } else {
                        this.$refs.mail.innerText = ""
        
                        let result = false;

                        let url = "/admin/Account/checkemail?mail=" + mail;
                        var request = new XMLHttpRequest();
                        request.open('POST', url, false);  // `false` makes the request synchronous
                        request.send(null);

                        if (request.status === 200) {// That's HTTP for 'ok'
                            console.log(request.responseText);

                            if (request.responseText == "false") {
                                this.$refs.mail.innerText = "This e-mail is already taken"
            
                            } else {
                                this.$refs.mail.innerText = ""
                                this.Disable = false;
                            }

                        }


                      
                    }



                }


                if (this.Password != "") {
                    if (checkpass.test(this.Password) == false) {
                        this.$refs.pass.innerText = "Pass Password must have 8 characters including uppercase, lowercase and special characters"
        
                        this.Disable = true;
                    } else {
                        this.$refs.pass.innerText = ""
                        this.Disable = false;
                    }
                }
             

                if (this.ConfirmPassword != "") {
                    if (this.Password != this.ConfirmPassword) {
                        this.$refs.confirmpass.innerText = "Password Incorrect"
                        this.Disable = true;
                    } else {
                        this.$refs.confirmpass.innerText = ""
                        this.Disable = false;
                    }
                }

                

                if (this.PhoneNumber != "") {
                    if (phonecheck.test(this.PhoneNumber) == false && this.PhoneNumber!=10) {
                        this.$refs.phone.innerText = "Phone number is numeric and has 10 number"
                        this.Disable = true;
                    } else {
                        this.$refs.phone.innerText = ""
                        this.Disable = false;
                    }
                }

                if (this.FullName != "") {
                    if (namecheck.test(this.FullName) == false) {
                        this.$refs.fname.innerText = "Name cannot contain special characters"
                        this.Disable = true;
                    } else {
                        this.$refs.fname.innerText = ""
                        this.Disable = false;
                    }
                }
             
                
             

            },

        
        }

    })

</script>

<script>

    function checknull() {

        let checkvalidate = true;

        if (document.getElementById("Email").value.trim() == "") {

            document.getElementById("mail").innerText = "Email is not Null"
            checkvalidate = false;


        } else {
            document.getElementById("mail").innerText = ""
        }

        if (document.getElementById("Password").value.trim() == "") {

            document.getElementById("pass").innerText = "Password is not Null"

            checkvalidate = false;


        } else {
            document.getElementById("pass").innerText = ""


        }

        if (document.getElementById("ConfirmPassword").value.trim() == "") {

            document.getElementById("confirmpass").innerText = "Confirm Password is not Null"
            checkvalidate = false;



        } else {
            document.getElementById("confirmpass").innerText = ""

        }

        if (document.getElementById("PhoneNumber").value.trim() == "") {

            document.getElementById("phone").innerText = "Confirm Password is not Null"
            checkvalidate = false;



        } else {
            document.getElementById("phone").innerText = ""

        }

        if (document.getElementById("FullName").value.trim() == "") {

            document.getElementById("fname").innerText = "Full name is not Null"

            checkvalidate = false;


        } else {
            document.getElementById("fname").innerText = ""


        }

   
        if (checkvalidate == true) {
            return true;
        } else {
            return false;
        }
    }
</script>